POSTGRES_USER=brew_user
POSTGRES_PASSWORD=brew_pass
POSTGRES_DB=brew_recipes


# SQLAlchemy DB URL - note: host is the service name 'db' used in docker-compose
DATABASE_URL=postgresql+psycopg2://brew_user:brew_pass@db:5432/brew_recipes


# Optional: app settings
APP_ENV=development